<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- Include any CSS or other metadata here -->
<link rel="stylesheet" th:href="@{/resources/user/css/noticelist.css}"/>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
	<!-- 테일윈드 불러오기 -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.7/tailwind.min.css"/>	
	<!--데이지 UI  -->
	<!-- 폰트어썸 불러오기 -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/admin-lte@3.2/dist/css/adminlte.min.css">
	<!--summernote css  -->
	<!-- 사이트 공통 CSS -->
  <!-- fullcalendar CDN -->
	<script src="https://cdn.jsdelivr.net/npm/admin-lte@3.2/dist/js/adminlte.min.js"></script>

<script src="/bootstrap/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<body>
    <!-- Main content -->
    <section class="content-header" style="height:1100px;">
        <div class="row">
            <div class="col-12">
                <h3 class="notice_iist_title">공지사항</h3>
            </div>
        </div>
        <div class="row body_case">
            <div class="col-12">
               
               <button type="button" class="btn btn-dark btn-lg ml-3" onclick="location.href='/TwoProject/user/notice/writeForm'">작성하기</button>


                <div class="row">
                    <div class="col-12 memberlistable">

                        <table class="tg notice_table" style="table-layout: fixed; width: 100%;">	
                            <colgroup>
                                <col style="width: 100.333333px">
                                <col style="width: 250.333333px">
                                <col style="width: 200px">
                                <col style="width: 150.666666px">
                                <col style="width: 150.666666px">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th class="tg-c3ow">번호</th>
                                    <th class="tg-c3ow">제목</th>
                                    <th class="tg-c3ow">등록일자</th>
                                    <th class="tg-c3ow">작성자</th>
                                    <th class="tg-c3ow">조회수</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="notice : ${noticeList}">
                                    <td class="tg-0pky" th:text="${notice.nno}">글번호</td>
                                    <td class="tg-0pky" th:text="${notice.title}" th:onclick="|location.href='/detail?nno=' + ${notice.nno}|">Title</td>
                                    <td class="tg-0pky" th:text="${#dates.format(notice.regDate, 'yyyy-MM-dd')}">Date</td>
                                    <td class="tg-0pky" th:text="${notice.writer}">작성자</td>
                                </tr>
                            </tbody>
                        </table>	
                       
                    </div>
<div class="pagination justify-content-center">
    <!-- Previous button -->
    <a th:if="${hasPrev}" th:href="'?page=' + ${previous}" role="button" class="btn btn-lg btn-primary bi bi-caret-left-square-fill"></a>
    <a th:unless="${hasPrev}" role="button" class="btn btn-lg bi bi-caret-left-square-fill disabled"></a>
    
    <!-- Page numbers -->
    <span th:each="i : ${#numbers.sequence(0, posts.totalPages - 1)}">
        <a th:if="${posts.number != i}" th:href="'?page=' + ${i}" role="button" class="btn btn-lg bi bi-dot"></a>
        <a th:if="${posts.number == i}" role="button" class="btn btn-lg btn-primary bi bi-dot"></a>
    </span>

    <!-- Next button -->
    <a th:if="${hasNext}" th:href="'?page=' + ${next}" role="button" class="btn btn-lg btn-primary bi bi-caret-right-square-fill"></a>
    <a th:unless="${hasNext}" role="button" class="btn btn-lg bi bi-caret-right-square-fill disabled"></a>
</div>


            </div>
        </div>
    </section>
    <!--foot -->
</body>

</html>
