<!DOCTYPE html>
<html>

<body class="login-page">
  <div class="login">
    <div class="card card-outline card-primary">
      <div class="card-header text-center">
        <a href="#" class="h1"><b class="idcheck" style="font-size:1.5rem;">로그인</b></a>
      </div>
      <div class="card-body">
        <img style="width: 200px; height: 200px;" src="/resources/lsupporter/img/쇼핑몰.jpg">
        <p class="login-box-msg">로그인해주시기 바랍니다.</p>
        <form action="login" method="post" onsubmit="return logincheck()" id="loginForm">
          <div class="input-group mb-3">
            <input type="text" class="form-control" name="id" style="" placeholder="아이디를 입력해주세요.">
            <div class="input-group-append">
            </div>
          </div>
          <div class="input-group mb-3">
            <input type="password" class="form-control" name="pwd" placeholder="비밀번호를 입력해주세요.">
            <div class="input-group-append">
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <button type="submit" class="idsearch btn btn-primary btn-block">로그인</button>
            </div>
          </div>
        </form>
        <p class="mt-3 mb-1 login_search">
          <a href="idcheckForm">아이디 찾기</a>
        </p>
        <p class="mt-3 mb-1 password_search">
          <a href="pwcheckForm">비밀번호 찾기</a>
        </p>
     <img src="/resources/user/img/카카오로그인.png" onclick="location.href='https://kauth.kakao.com/oauth/authorize?client_id=e7039e4c54cb41b36e0176239a46ce10&redirect_uri=http://localhost/TwoProject/user/kakaologin&response_type=code'"/>

</div>

    </div>
  </div>
 
</body>

 <script>
function logincheck() {
    var loginwid = $('input[name="id"]').val();
    var loginpwd = $('input[name="pwd"]').val();

    if (loginwid.trim() === "") {
        Swal.fire({
            icon: 'error',
            title: '아이디 실패.',
            text: '아이디가 틀렸습니다.',
        });
        return false;
    }

    if (loginpwd.trim() === "") {
        Swal.fire({
            icon: 'error',
            title: '비밀번호 실패.',
            text: '비밀번호가 틀렸습니다.',
        });
        return false;
    }
    document.getElementById('loginForm').submit();
   
    return true;
    
}
</script>

<script>
window.onload=function(){
	 if (${param.error} === 1) {
    	 Swal.fire({
             icon: 'error',
             title: 'ID 실패.',
             text: '아이디를 잘못 입력하셨습니다.',
         });
       $('input[name="id"]').val('');
        return false;
    }

    if (${param.error} === 2) {
        Swal.fire({
            icon: 'error',
            title: 'PWD 실패.',
            text: '비밀번호를 잘못 입력하셨습니다..',
        });
        $('input[name="pwd"]').val('');
        return false;
    }
    return true;
	}
</script>


</html>