table.type03 {
  border-collapse: collapse;
  line-height: 1.5;
  border-top: 1px solid #ccc;
  border-left: 3px solid #369;
  margin : 20px 10px;
}
table.type03 th {
  width: 147px;
  padding: 10px;
  font-weight: bold;
  vertical-align: middle;
  color: #153d73;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
font-size:1.5rem;
text-align:center;
}
table.type03 td {
font-size:1.5rem;
  width: 349px;
  padding: 10px;
  vertical-align: middle;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  color:black;
  text-align:left;
}
.tab_name{
	
	  font-family: 'MICEGothic Bold';
	  color:black;
	  font-size:2rem;
}
