.menu_list_name{
margin:0 auto;
font-weight:bold;
color:black;
font-size:3rem;
margin-bottom:5rem;
font-family: 'TheJamsil5Bold';
}
.profile-username{
font-family: 'TheJamsil5Bold';
font-size:2rem;
}
