.pawordcheck, .title{
font-size:1.5rem;
margin:10%;
}
.title{
   font-family: 'MBC1961GulimM';
   text-align:center;
   font-size:2.5rem;
}
.password{
font-size:2rem;
margin-left: 6%;
font-family: 'MBC1961GulimM';
}
input[type='password']{
font-size:2rem;
    border: 1px solid;
    border-radius: 5px;
}
.pwok{
width:360px;
font-size:1.5rem;
margin:0 auto;
}
