.profile-user-img {
  transition: transform 0.3s;
}

.profile-user-img.zoomed {
  transform: scale(0.8); /* Adjust the scale value as per your requirement */
}


.info_text, .small-box-footer{
	font-family: 'MBC1961GulimM';
}

.loginname{
	font-family: 'MBC1961GulimM';
	text-align:end;
	font-size:2rem;
    color: #333;
    text-align: end;
}

.profile-username{
font-family: 'MBC1961GulimM';
font-size:2rem;
padding-top:10px;
}
.menu_list_name{
margin:0 auto;
font-weight:bold;
margin-bottom:10px;
color:black;
font-size:2.5rem;
}
.menu_bar_name{
margin:0 auto;
border:1px solid black;
background-color:#02BB15C7;
border:3px solid #071038C7;
color:black;
width:50%;
font-size:2.5rem;
text-align:center;
border-radius:5px;
margin-bottom:5px;
font-weight:bold;
height:70px;
padding:10px;
}
.box-profile{
border:2px solid orange;
border-radius:10px;
}
.small-box{
display:inline-block;
width:200px;
}
.col-lg-3{
display:inline-block;
width:200px;
}
.nowactovity{
	    font-family: 'TheJamsil5Bold';
font-weight:bold;
font-size:2.6rem;
text-align:center;
}
.nowemergancy{
	    font-family: 'TheJamsil5Bold';
font-weight:bold;
font-size:2.6rem;
text-align:center;
}
.emergany_status_list{
text-align:center;
}
.menu_bar{
margin-bottom:30px;
justify-content:center;
}
.inner{
text-align:center;
}
