.title_name{
color:black;	
}


table.type03 {
  border-collapse: collapse;
  line-height: 1.5;
  border-top: 1px solid #ccc;
  border-left: 3px solid #369;
  margin : 20px 10px;
}
table.type03 th {
  width: 147px;
  font-weight: bold;
  vertical-align: middle;
  color: #153d73;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
font-size:1.5rem;
text-align:center;
}
table.type03 td {
font-size:1.2rem;
  padding: 10px;
  vertical-align: middle;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  color:black;
  text-align:left;
}
.imgsize{
width:50px;
height:50px;
display:inline-block;
}
.card-title{
margin-left:20%;
font-size:1.7rem;
}
td,th{
padding:0px;
}
.systemname{
font-size:12px;
}
.card-body{
font-size:12px;
}
.dangergo{
margin-left:17px;
margin-bottom:4px;
}

.keywordselectbar{
display: inline-block; 
white-space: nowrap;
font-size:2rem;
}
.dateselectbar{
display: inline-block; 
white-space: nowrap;
font-size:1.5rem;
margin-bottom:10px;
}
.searchinput{
width:100%;
border:1px solid black;
border-radius:5px;
height:40px;
padding-right: 3rem;
font-size:1.5rem;
}
.keywordoption{
border:1px solid black;
border-radius:5px;
font-size:2rem;
height:40px;
margin-right:10px;
}

.memberlistable{
table-layout: fixed; 
width: 782px;
margin-left:5%;
}
.danger_gages{
font-size: 1.5rem;
font-weight: bold;
color: red;
text-align:center;
}
.check{
text-align:center;
}
.profile-username{
font-size:2rem;
color:red;
}
.danger_status{
font-size: 1.7rem;
    font-family: 'MICEGothic Bold';
    text-align: center;
    margin-left: 12%;
}
.danger_list{
font-size:1.5rem;
 font-family: 'MICEGothic Bold';
}
.danger_imgsize{
width:80px;
height:80px;
}
.activity_imgsize{
width:80px;
height:80px;
}
.activity_status{
font-size:1.9rem;
}
.tab_name{
font-size:1.5rem;
color:black;
}
.tab_name:hover{
background-color:#0080FF;
color:white;
font-weight:bold;
border:1px solid #0080FF;	
border-radius:5px;
}
.search_container{
  position: relative;
}
.nav-item{
margin-right:53px;
}
.buttens{
text-align:end;
}
.delete,.regist{
font-size:1.5rem;
}
.fa-search{
font-size:1.5rem;
right: 1rem;
}
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:1.2rem;
  overflow:hidden;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:1.2rem;
  font-weight:normal;overflow:hidden;word-break:normal;}
.tg .tg-c6of{background-color:#ffffff;border-color:inherit;text-align:center;vertical-align:middle;height:65px;}
.tg .tg-bbbb{text-align:center;vertical-align:middle;height:65px;font-weight:bold;font-size:1.5rem;}
.tg .tg-3xi5{background-color:#ffffff;border-color:inherit;text-align:center;vertical-align:middle;}
.tg .tg-0lax{text-align:center;vertical-align:middle;height:65px;}
.tg .tg-baqh{text-align:center;vertical-align:middle;height:55px;}
.tg .tg-uqo3{background-color:#efefef;text-align:center;vertical-align:middle;}
.tg .tg-yj5y{background-color:#efefef;border-color:inherit;text-align:center;vertical-align:middle;}
.tg .tg-c3ow{border-color:inherit;text-align:center;vertical-align:middle;}
.tg .tg-2xpi{background-color:#efefef;border-color:inherit;font-size:1.2rem;text-align:center;vertical-align:middle;}
