.notice_iist_title {
	color: red;
	font-family: 'TheJamsil5Bold';
	text-align: center;
	font-size: 2rem;
}

@font-face {
	font-family: 'TheJamsil5Bold';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2')
		format('woff2');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'NanumSquareNeo-Variable';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2')
		format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'MICEGothic Bold';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-01@1.0/MICEGothic Bold.woff2')
		format('woff2');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'bitbit';
	src: url('//cdn.df.nexon.com/img/common/font/DNFBitBit-Regular.woff'),
		url('//cdn.df.nexon.com/img/common/font/DNFBitBit-Regular.woff2');
}

@font-face {
	font-family: 'establishRetrosansOTF';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2112@1.0/establishRetrosansOTF.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'TheJamsil5Bold';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2')
		format('woff2');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'MBC1961GulimM';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/MBC1961GulimM.woff2')
		format('woff2');
	font-weight: normal;
	font-style: normal;
}

.tg-c3ow, .tg-0pky {
	text-align: center;
}

.pagination {
	justify-content: center;
}

.searchKeyword:hover {
	border: 2px solid red;
}

.pagination {
	text-align: center;
}

.searchType {
	background-color: #808080;
	border-radius: 5px;
	color: white;
	font-family: 'MICEGothic Bold';
}
