.search_container{
  position: relative;
}
.carelist_title{
font-family: 'MBC1961GulimM';
text-align:center;
font-size:2.5rem;
}
.search_bar_main{
margin:0 auto;
}
.searchinput{
border:1px solid black;
border-radius:5px;
font-size:2rem;
}
.keywordoption{
border:1px solid black;
border-radius:5px;
font-size:2rem;
}
.buttens{
margin-left:78%;
}
input[type="date"]::-webkit-datetime-edit-fields-wrapper,
input[type="date"]::-webkit-datetime-edit-text {
font-size:30px;
width:200px;
}
.keywordselectbar{
display: inline-block; 
white-space: nowrap;
margin-left:7%;
font-size:2rem;
margin-right:10px;
}
.keywordoption{
height:49.33px;
margin-right:10px;
}
.notice_table{
margin-left: 15%;
}
.category_date_menubar{
margin-left:18%;
}
.fa-search{
font-size:2rem;
}
.reply_list{
	margin:0 auto;
	text-align:center;
	margin-top:20px;
	margin-left:10px;
}
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:1.2rem;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:2rem;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-c3ow{border-color:inherit;text-align:center;vertical-align:center}
.tg .tg-0pky{border-color:inherit;text-align:center;vertical-align:center}
.tg .tg-0pkk{text-align:left;}
