.inner{
text-align:center;
}
.small-box{
display:inline-block;
}
.status_num{
font-size:2.5rem;
}
.col-lg-3{
display:inline-block;
width:130px;
}
.nowactovity{
font-weight:bold;
font-size:2.5rem;
margin-left:40%;
}
.backbtn{
margin-right:73%;
}
.searchinput{
width:100%;
border:1px solid black;
border-radius:5px;
height:40px;
padding-right: 3rem;
font-size:1.5rem;
}
.keywordselectbar{
display: inline-block; 
white-space: nowrap;
font-size:2rem;
}
.search_container{
  position: relative;
}
.search_bar_main{
justify-content:end;
}
.search_bar{
margin-left:13%;
}
.dateselectbar{
font-size:2rem;
}
.keywordselectbar{
display: inline-block; 
white-space: nowrap;
margin-left:7%;
font-size:2rem;
margin-right:10px;
}
.keywordoption{
height:45px;
margin-right:10px;
margin-left:9.5%;
border-radius:5px;
font-size:2.5rem;
border:1px solid black;
}
.emergany_status_list{
margin-left:26%;
}



.status_name{
text-align:center;
}
.tg  {border-collapse:collapse;border-color:#bbb;border-spacing:0;}
.tg td{background-color:#E0FFEB;border-bottom-width:1px;border-color:#bbb;border-style:solid;border-top-width:1px;
  border-width:0px;color:#594F4F;font-family:Arial, sans-serif;font-size:1.5rem;overflow:hidden;padding:10px 5px;
  word-break:normal;}
.tg th{background-color:#fe0000;border-bottom-width:1px;border-color:#bbb;border-style:solid;border-top-width:1px;
  border-width:0px;color:white;font-family:Arial, sans-serif;font-size:1.5rem;font-weight:normal;overflow:hidden;
  padding:10px 5px;word-break:normal;}
.tg .tg-yj5y{background-color:#efefef;border-color:inherit;text-align:center;vertical-align:middle}
.tg .tg-3xi5{background-color:#ffffff;border-color:inherit;text-align:center;vertical-align:middle}
.tg .tg-73oq{background-color:#ffffff;border-color:inherit;text-align:center;vertical-align:middle}
.tg .tg-nqa4{font-family: 'NanumSquareNeo-Variable';font-weight:bold;background-color:#E2A9F3;color:black;height:54px;vertical-align:middle;text-align:center;}
